@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #222627;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #319685c2;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #01b8b8;
  }
}

div .swiper-button-next,
div .swiper-button-prev {
  background-position: center;
  background-size: 70px;
  background-repeat: no-repeat;
  /* padding: 2px 8px; */
  border-radius: 100%;
  display: none;
  background-color: white;
  border: 1px solid black;
  color: gray;
  width: 10vw;
  height: 10vw;
  top: 40%;
  position: absolute;
  opacity: 0.8;
  /* overflow: visible; */
  margin: 0% 1%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  scale: 0.5;
  content: "";
}

@media(min-width:768px) {

  div .swiper-button-next,
  div .swiper-button-prev {
    display: flex;
    background-color: white;
    width: 3vw;
    height: 3vw;
    color: black;
    position: absolute;
    top: 30%;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    scale: 0.4;
    content: "";
  }
}

